<footer>
  <div class="container-fluid footerBox d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center">
        <a href="https://www.facebook.com/ZyriusXD"><img src="./images/facebook.svg" alt="facebookLogo" class="footerLogo px-5"></a>
        <a href="https://www.instagram.com/monggizy/"><img src="./images/instagram.svg" alt="instagramLogo" class="footerLogo px-5"></a>
        <a href="https://github.com/Zaiwoos"><img src="./images/github.svg" alt="githubLogo" class="footerLogo px-5"></a>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center mt-5"><p class="footerCopyright">Copyright © Zyrius 2024</p></div>
    </div>
  </div>
</footer>
</body>
</html>