<%- include("partials/header.ejs") %>
<main>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <h2 class="aboutMeText">About Me</h2>
      <img src="./images/profileq.jpg" alt="profileUser" class="profile">
      <p class="pt-5 aboutMeP">Hi, my name is Zyrius! Welcome to my website, where I share my thoughts, experiences, and passions through engaging blogs and updates. I hope you enjoy exploring my content and getting to know more about my journey."</p>
    </div>
  </div>
</main>
<%- include("partials/footer.ejs") %>